cmd/anim/anim
cmd/anim/word4word
cmd/anim/animation.log
cmd/anim/canvas.log
cmd/anim/imagesSave/
cmd/anim/blinken/gifInfo
cmd/colorEdit/colorEdit
cmd/colorEdit/colorEdit.log
cmd/colorEdit/*.png
cmd/gui/gui
cmd/gridController/gridController
cmd/gridPlotter/gridPlotter
cmd/gridEmulator/gridEmulator
cmd/paletteGui/paletteGui
cmd/playground
old/
old_20240815/
*.swp
*.*_save
*.*_old
*._go
*.exe
*.cpuprof
*.memprof
*.trace
*.bin
*.mov
.20240701/
.20240815/
genColorNew
genFont
