.20240701/
.20240815/
*.bin
cmd/colorEdit/colorEdit
cmd/colorEdit/colorEdit.log
cmd/colorEdit/*.png
cmd/gridAnimator/gridAnimator
cmd/gridController/gridController
cmd/gridEmulator/gridEmulator
cmd/gridPlotter/gridPlotter
cmd/gui/gui
cmd/paletteGui/paletteGui
cmd/playground
*.cpuprof
*.exe
genColorNew
genFont
*._go
*.memprof
*._mod
*.mov
nohup.out
*.*_old
old/
old_20240815/
*.*_save
*.swp
*.trace
