[Unit]
Description=Slave Daemon for PixelController
Wants=network-online.target
After=network-online.target remote-fs.target

[Service]
User=dietpi
ExecStart=/usr/local/sbin/pixelcontroller -missing 63 -defect 160,299
KillSignal=INT

[Install]
WantedBy=multi-user.target
