[Unit]
Description=Network Daemon for LEDGrid
Wants=network-online.target
After=network-online.target remote-fs.target

[Service]
User=dietpi
ExecStart=/usr/local/sbin/gridController -width 40 -height 10
KillSignal=INT

[Install]
WantedBy=multi-user.target
